// 
// Urban Fetish - by Todd Lambert
// 
@import 'navigation.scss';
@import 'typography.scss';
$primary: #fe09f0;

/*
:root { 
   background-color: #fefefe;
   filter: invert(100%);
}

* { 
   background-color: inherit;
}

img:not([src*=".svg"]), video {  
   filter: invert(100%);
}
*/

/*
[data-theme="dark"] a {color:$primary;}
[data-theme="light"] a{color:$primary;}

[data-theme="light"] footer{color:#fff;}

[data-theme="light"] *{border-color:#666 !important;}
[data-theme="dark"] *{border-color:#999 !important;}

[data-theme="light"] .themer span:before {content: "Dark ";}
[data-theme="dark"] .themer span:before {content: "Light ";}
*/

body.dark{background-color: #333; color:#fff;}

body.dark a {color:$primary;}
body.light a{color:$primary;}

body.light footer{color:#fff;}


body.light *{border-color:#666 !important;}
body.dark *{border-color:#999 !important;}

body.light .themer span:before {content: "Dark ";}
body.dark .themer span:before {content: "Light ";}


body{background-color:#fff; margin: 0; padding:60; font-family: Lato;}

#site-header{z-index: 1; top:0;}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--unpinned .back-to-top{display: block; position:fixed; bottom:0; right:0; border:1px solid; transform: translateY(100vh); padding:.3rem;
z-index: 99999999;
color: #fff;
font-weight: bold;
background-color:$primary;
border-radius: 8px 0 0 0;
}
.headroom--unfixed .back-to-top, .headroom--pinned .back-to-top{display: none;}

.themer {display:flex; flex-wrap: nowrap; position:absolute; top:70px; right:20px; font-size: 90%; vertical-align:bottom; background-color:#222; padding:.3rem 1rem; border-radius: 4px; color:#fff;}
.themer span{padding-top: 3px;}
.button-switcher{border:1px solid;}


.headroom--unpinned .themer{display: none;}

.headroom {display: flex; justify-content: space-between; align-items: center;/*  width:100%; */ background:linear-gradient(#100000 0%, #666 100%);  height:auto;}

#site-header img{width:auto !important; height:auto !important; max-height: 60px;}
.site-logo{margin-left: 2rem;}
.mainmenu{margin-right:1rem; text-transform: uppercase; font-weight: bold;}
.mainmenu span{display:none;}

#site-navigation [aria-current] {
background-color: $primary;
padding:.5rem;
}

.mobmenu{display: none;}

.inner{padding:2em; text-align: center;}

#content-layout{display: flex; flex-direction: row; justify-content: flex-start;}

#site-header{order:1; width:auto;}
#section-main{order:2; width:70%; vertical-align: top; padding: 4.5rem 2rem;}
#section-aside{order:3; width:30%; vertical-align: top; padding:4rem 2rem 2rem 0; margin-top:2rem;}
#section-footer{order:4; width:auto; align-content: center;/*  position:fixed; bottom:0; */}

#content-layout-full #section-main{width:auto; display: block;}

.grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.grid article{ height: 400px;
  flex-basis: 33%;
  -ms-flex: auto;
  width: 33%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;}




main{padding:0 1rem 0 1rem;}
.site-footer{background-color:#333; padding:1rem;}

#section-aside img, article picture img{max-width: 100%; border-radius: 4px;}

p.sidebarp{font-size: 80%; margin-bottom: 2rem;}

.pagination{font-size:150%;}

// .post-wrapper, .page-header, .entry-header h1{padding:0 2rem}

// .entry-header h2{padding:0 1.5rem;}

.entry-meta{display: none;}


.entry-footer .mb-8{display:none;}


.gatsby-image-wrapper img{
display: flex;
	flex-shrink:inherit;
	justify-content: center;
	margin: auto;
-o-object-fit: cover; object-fit: cover; background-size: cover;
}


.next-post-featured-image{max-height: 100px;}

.taxonomy-links{display:flex; flex-flow: wrap;}
.taxonomy-links a{background-color:#e9eaef; text-decoration: none; padding: .3rem .5rem; margin:.5rem .5rem 1rem 0;}

.entry-footer__taxonomy{margin:0 0; display: flex; flex-flow: wrap;}
.entry-footer__taxonomy span:first-child{display:none;}

// .tag-label{margin-right:2rem;}
.engage-container{display: flex; justify-content: space-between; align-items: top;}
.share-flex{justify-content:space-between;}

.rounded {
border-radius: 0.25rem;
}


p.link-more{display: none;}

.comment-respond {display: flex; justify-content: center; align-self: center; flex-direction: column; padding:1rem; text-align: center;}
.comment-respond  input, text-area{
	flex-wrap: wrap;
	padding: 0.5rem 0.75rem;
	max-width: 90vw;

}

.comment-form label{margin-left:1rem; text-align: left; float: left;}

/*
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }
  a {color:#fff;}
  .taxonomy-links a{background-color:#9b9898; color:#333;}
}
*/



@media screen and (max-width: 790px) {
	
#content-layout{display: block;}
#site-header{order:1; display:block;}
#section-main{order:2; width:auto; vertical-align: top; padding:4.5rem 1rem 0 1rem;}
#section-aside{order:3; width:auto; vertical-align: top; padding:1rem;}
#section-footer{order:4;}
.mobmenu{display: block;}

.mainmenu{text-align: center;}
.mainmenu span{font-size:80%;}
#site-header{z-index:1; top:0; align-items: center; }

.grid{
	display: block;

}

.grid article{ height: auto;
  width: auto;
  position: relative;
  padding: 10px;
}
	
} // END MOBILE